@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Medium", sans-serif;
}

header {
  width: 160px;
  height: 40px;
  position: fixed;
  z-index: 999;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy-Bold", sans-serif;
}

header h2 span {
  color: #014f50;
}

header a {
  text-decoration: none;
  color: inherit;
}

.form {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .head {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 25px;
  color: #333333;
}

.form .head p {
  font-size: 0.9rem;
  margin-top: 8px;
}

.form .head a {
  text-decoration: none;
}

.form .data {
  width: 700px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.form-wrap {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 6px;
  position: relative;
}

.form-wrap > label {
  font-weight: 500;
  font-size: 0.9rem;
  color: #333333;
  text-align: start;
  align-self: flex-start;
  transition: all 0.3s ease;
}

.form-wrap > input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-weight: 900px;
  background-color: transparent;
  color: rgb(99, 99, 99);
  border: 2px solid #cacaca;
  font-size: 15px;
  padding-left: 10px;
  transition: all 0.3s ease;
  z-index: 5;
}

.form-wrap > input:focus {
  color: #333333;
  outline: none;
  border: 2px solid #333333;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.145),
    0px 0px 5px rgba(255, 255, 255, 0.145) inset;
}

.form-wrap > input::placeholder {
  color: #cacaca;
  transition: all 0.5s ease;
}

.form-wrap > input:focus::placeholder {
  color: rgb(150, 150, 150);
}

.form-wrap > input,
.form-wrap > select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(99, 99, 99);
  border: 2px solid #cacaca;
  font-size: 15px;
  padding-left: 10px;
  transition: all 0.3s ease;
  z-index: 5;
}

.form-wrap > input:focus,
.form-wrap > select:focus {
  color: #333333;
  outline: none;
  border: 2px solid #333333;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.145),
    0px 0px 5px rgba(255, 255, 255, 0.145) inset;
}

.form-wrap > select::placeholder {
  color: #cacaca;
  transition: all 0.5s ease;
}

.form-wrap > select:focus::placeholder {
  color: rgb(150, 150, 150);
}

.form-wrap > select option {
  color: #333333;
  background-color: #fff;
}

.form-wrap .select-country {
  width: 102%;
}

.form-wrap p {
  font-size: 0.8rem;
  text-align: start;
  align-self: flex-end;
  cursor: pointer;
}

.data .submit-btn {
  width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
}

.data .submit-btn button {
  --color: #014f50;
  width: 100%;
  height: 45px;
  line-height: 2.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms;
  border: none;
  z-index: 1;
  font-size: 0.9rem;
  border-radius: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color);
  background-color: #f5f5f5;
}

.data .submit-btn button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 650px;
  width: 1200px;
  border-radius: 50%;
}

.data .submit-btn button:hover {
  color: #fff;
}

.data .submit-btn button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.data .submit-btn button:hover:before {
  top: -80px;
  left: -250px;
}

.data .another-option {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.data .another-option p {
  position: absolute;
  z-index: 2;
  padding: 5px 8px;
  background-color: #fff;
  font-size: 1rem;
}

.data .another-option .line {
  width: 600px;
  height: 3px;
  background-color: #d9d9d9;
}

.log-option {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log-option .google,
.log-option .facebook {
  width: 260px;
}

.log-option .button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid #e7e9ed;
}

.log-option .button i {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #dcdbdb;
  border: 2px solid #dcdbdb;
}

.button:active {
  transform: translate(1px, 1px);
}

.log-option i {
  font-size: 1.2rem;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  border-top: 2px solid #66666634;
  align-items: center;
  justify-content: space-evenly;
}

footer p {
  color: #666666;
  cursor: pointer;
  font-size: 0.9rem;
}

@media only screen and (max-width: 850px) {
  .form .head {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .form .head p {
    font-size: 1rem;
  }

  .form-wrap > input {
    height: 50px;
  }

  .form-wrap > label {
    font-size: 1.2rem;
  }

  .form-wrap > select {
    height: 50px;
  }

  footer {
    display: none;
  }

  .log-option .button {
    height: 50px;
  }

  .data .submit-btn button {
    height: 50px;
  }
}
