@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Medium", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.sidebar{
  display: none;
}

nav {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: transparent;
  transition: 2all 300ms ease;
}

nav.scrolled {
  background-color: #f5f5f5;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
}

nav .brand-name {
  margin-left: 100px;
  cursor: pointer;
}

nav .brand-name p {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 300ms ease;
  color: #fff;
}

nav.scrolled .brand-name p {
  color: #333;
}

nav .brand-name span {
  color: #014f50;
}

nav .menu-icon {
  display: none;
}

nav .search-bar {
  width: max-content;
  height: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}

.search-wrap {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  transition: all 200ms ease;
}

.search-bar .search-wrap i {
  color: #f5f5f5;
  font-size: 1rem;
  position: absolute;
  left: 15px;
  pointer-events: none;
  transition: all 300ms ease;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid #f5f5f5;
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: all 300ms ease;
}

nav.scrolled .input {
  border: 1px solid #3333334f;
}

.input::placeholder {
  color: #f5f5f5;
  transition: all 300ms ease;
}

nav.scrolled .input::placeholder {
  color: #3333338d;
}

nav.scrolled .search-wrap i {
  color: #3333338d;
}

.input:focus {
  outline: none;
  border-color: #014f503a;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.input:focus::placeholder {
  color: #0d0c22;
}

.input:focus ~ i {
  color: #333333;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #d6d7dd;
  font-size: 1.2rem;
  padding: 0 5px;
  position: relative;
  transition: 200ms ease;
  transition: all 300ms ease;
}

nav.scrolled ul li a {
  color: #333333;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background-color: #014f50;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 400ms ease;
}

nav ul li a:hover {
  color: #fff;
  transition: all 300ms ease;
}

nav.scrolled ul li a:hover {
  color: #014f50;
  font-family: 700;
}

nav ul li a:hover::after {
  width: 100%;
}

header {
  width: 100%;
  height: 420px;
  /* background-color: #a148b7; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

header .header-content {
  width: 320px;
  height: max-content;
  position: absolute;
  z-index: 2;
  top: 160px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .header-content h1 {
  color: #f5f5f5;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 400;
}

header .header-content span {
  padding: 50px 0;
  font-weight: 700;
}

header button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  background-color: transparent;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  cursor: pointer;
}

header button a i {
  color: #f5f5f5;
  font-weight: 700;
  transition: all 300ms ease;
}

header button:hover {
  background-color: #f5f5f5;
  border: 2px solid #014f50;
}

header button:hover i {
  color: #014f50;
  font-size: 1rem;
}

main {
  padding: 0 80px;
}

main .collection {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 20px;
}

main .collection h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

main .collection .collection-list {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

main .collection .collection-list > div {
  position: relative;
}

main .collection .collection-list .collection1 {
  grid-row: 1 / 4;
  border: none;
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 300ms ease-in-out;
  border: 1px solid rgba(128, 128, 128, 0.489);
}

main .collection .collection-list .collection1 p {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  margin-top: 30px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

main .collection .collection-list .collection1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 12px;
  transition: all 300ms ease;
  position: relative;
}

main .collection .collection-list .collection1:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  z-index: 2;
}

main .collection .collection-list .collection1 img:hover {
  filter: grayscale(0);
}

main .collection .collection-list .collection2 {
  grid-row: 1 / 3;
  border: none;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  position: relative;
  transition: all 300ms ease-in-out;
}

main .collection .collection-list .collection2 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

main .collection .collection-list .collection2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 12px;
  transition: all 300ms ease;
  position: relative;
}

main .collection .collection-list .collection2:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  z-index: 2;
}

main .collection .collection-list .collection2 img:hover {
  filter: grayscale(0);
}

main .collection .collection-list .collection3 {
  grid-row: 3;
  border: none;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  position: relative;
  transition: all 300ms ease;
}

main .collection .collection-list .collection3 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

main .collection .collection-list .collection3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 12px;
  transition: all 300ms ease;
  position: relative;
}

main .collection .collection-list .collection3:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  z-index: 2;
}

main .collection .collection-list .collection3 img:hover {
  filter: grayscale(0);
}

main .collection .collection-list .collection4 {
  grid-row: 1 / 4;
  border: none;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  position: relative;
  transition: all 300ms ease;
}

main .collection .collection-list .collection4 p {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  margin-top: 30px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

main .collection .collection-list .collection4 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 12px;
  transition: all 300ms ease;
  position: relative;
}

main .collection .collection-list .collection4:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  z-index: 2;
}

main .collection .collection-list .collection4 img:hover {
  filter: grayscale(0);
}

main .collection .collection-list .collection5 {
  border: none;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  transition: all 300ms ease;
}

main .collection .collection-list .collection5 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

main .collection .collection-list .collection5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 12px;
  transition: all 300ms ease;
}

main .collection .collection-list .collection5:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  z-index: 2;
}

main .collection .collection-list .collection5 img:hover {
  filter: grayscale(0);
}

main .collection .collection-list .collection6 {
  grid-row: 2 / 4;
  border: none;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.489);
  position: relative;
  transition: all 300ms ease;
}

main .collection .collection-list .collection6 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #f5f5f5;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

main .collection .collection-list .collection6 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  border-radius: 12px;
  transition: all 300ms ease;
}

main .collection .collection-list .collection6:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  z-index: 2;
}

main .collection .collection-list .collection6 img:hover {
  filter: grayscale(0);
}

main .collection .collection-list .collection6:hover img,
main .collection .collection-list .collection5:hover img,
main .collection .collection-list .collection4:hover img,
main .collection .collection-list .collection3:hover img,
main .collection .collection-list .collection2:hover img,
main .collection .collection-list .collection1:hover img {
  filter: grayscale(0);
}

@media only screen and (max-width: 950px) {
  main {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 720px) {
  main .collection .collection-list {
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  main .collection .collection-list .collection1,
  main .collection .collection-list .collection2,
  main .collection .collection-list .collection3 {
    grid-row: auto;
    grid-column: auto;
  }

  main .collection .collection-list .collection4,
  main .collection .collection-list .collection5,
  main .collection .collection-list .collection6 {
    display: none;
  }
}

main .about-container {
  width: 100%;
  height: fit-content;
  margin-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .about-container .about-wrapper {
  width: 90%;
  height: 250px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main .about-container .about-wrapper .about-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

main .about-container .about-wrapper .about-head h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #333333;
}

main .about-container .about-wrapper .about-content p {
  width: 50%;
  height: fit-content;
  font-size: 1.9rem;
  font-weight: 400;
  color: #333333;
  letter-spacing: 1px;
  line-height: 42px;
}

main .about-container .about-wrapper .about-btn {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

main .about-container .about-wrapper .about-btn p {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #7d818d;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 24px;
}

main .about-container .about-wrapper .about-btn button {
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #014f50;
  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 1px;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 14px;
}

main .virtual-museum {
  width: 90%;
  height: 350px;
  border: 1px solid gray;
  margin: 40px 0 100px 0;
  border-radius: 12px;
  position: relative;
}

main .virtual-museum img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

main .virtual-museum .vm-wrap {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.375);
  top: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f5f5f5;
}

main .virtual-museum .vm-wrap p {
  margin-top: 8px;
}

main .virtual-museum .vm-wrap a {
  width: 140px;
  height: 40px;
  background-color: #f5f5f5;
  margin-top: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #014f50;
}

.wrapper {
  width: 100%;
  height: fit-content;
}

.wrapper .resource {
  width: 100%;
  height: 620px;
  background-color: #014f50;
  display: flex;
}

.wrapper .resource .resource-photo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper .resource .resource-photo .r-main-photo {
  width: 340px;
  height: 380px;
}

.wrapper .resource .resource-photo .r-main-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: none;
}

.wrapper .resource .resource-photo .r-photo-wrap {
  width: 340px;
  height: 380px;
  position: absolute;
}

.wrapper .resource .resource-photo .r-photo-wrap .r-photo {
  position: absolute;
  width: 130px;
  height: 130px;
  z-index: 1;
  top: -40px;
  left: -50px;
  rotate: 10deg;
}

.wrapper .resource .resource-photo .r-photo-wrap .r-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.wrapper .resource .resource-photo .r-photo-wrap .r-photo1 {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 1;
  top: -30px;
  right: -120px;
  rotate: -8deg;
}

.wrapper .resource .resource-photo .r-photo-wrap .r-photo1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.wrapper .resource .resource-photo .r-photo-wrap .r-photo2 {
  position: absolute;
  width: 260px;
  height: 160px;
  z-index: 1;
  bottom: -60px;
  right: -120px;
}

.wrapper .resource .resource-photo .r-photo-wrap .r-photo2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.wrapper .resource .resource-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 50%;
  color: #f5f5f5;
}

.wrapper .resource .resource-content .src-wrap {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .resource .resource-content .src-wrap h2 {
  margin-left: 30px;
  margin-bottom: 20px;
  color: #f5f5f5;
  font-size: 2rem;
}

.wrapper .resource .resource-content .src-wrap p {
  font-family: "Gilroy-Regular";
  letter-spacing: 1px;
  opacity: 0.7;
  color: #f5f5f5;
  margin: 0 40px 0 30px;
}

.wrapper .resource .resource-content .src-wrap a {
  margin-top: 20px;
  margin-left: 30px;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 0.9rem;
}

.wrapper .resource .resource-content .src-wrap i {
  margin: 0 5px;
}

.wrapper .testi {
  height: fit-content;
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .testi .t-head {
  width: 100%;
  height: fit-content;
  color: #333333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .testi .t-head h2 {
  font-size: 2rem;
  font-family: "Gilroy-bold";
}

.wrapper .testi .t-head p {
  font-size: 1.2rem;
  margin: 12px 0;
  width: 50%;
}

.wrapper .testi .t-cards {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(1, 350px);
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 40px 0;
}

.wrapper .testi .t-card1,
.wrapper .testi .t-card2,
.wrapper .testi .t-card3 {
  grid: 1;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #e7e9ed;
}

.wrapper .testi .t-card1 .t-profil,
.wrapper .testi .t-card2 .t-profil,
.wrapper .testi .t-card3 .t-profil {
  border: 1px solid;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  margin: 0 30px;
}

.wrapper .testi .t-card1 .t-profil img,
.wrapper .testi .t-card2 .t-profil img,
.wrapper .testi .t-card3 .t-profil img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper .testi .t-card1 .t-comment,
.wrapper .testi .t-card2 .t-comment,
.wrapper .testi .t-card3 .t-comment {
  margin: 0 30px;
  height: 50%;
}

.wrapper .testi .t-card1 .t-comment p,
.wrapper .testi .t-card2 .t-comment p,
.wrapper .testi .t-card3 .t-comment p {
  padding: 20px 0;
  line-height: 26px;
  color: #333333;
  font-size: 1rem;
}

.wrapper .testi .t-card1 .t-name,
.wrapper .testi .t-card2 .t-name,
.wrapper .testi .t-card3 .t-name {
  margin: 0 30px;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .testi .t-card1 .t-name h2,
.wrapper .testi .t-card2 .t-name h2,
.wrapper .testi .t-card3 .t-name h2 {
  color: #333333;
  font-size: 1.2rem;
}

.wrapper .testi .t-card1 .t-name p,
.wrapper .testi .t-card2 .t-name p,
.wrapper .testi .t-card3 .t-name p {
  color: #000;
  opacity: 50%;
  font-size: 1rem;
}

.cta {
  height: fit-content;
  margin-bottom: 20px;
  padding: 0 80px;
}

.cta .cta-wrap {
  height: 320px;
  background-color: #fff;
  border-radius: 12px 0 12px 12px;
  border: 2px solid #e7e9ed;
  position: relative;
  display: flex;
  align-items: center;
}

.cta .cta-wrap .cta-shape {
  height: 160px;
  width: 160px;
  background-color: #014f50;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0% 0% 0% 100% / 0% 0% 0% 100%;
}

.cta .cta-wrap .cta-content {
  width: 100%;
  height: 76%;
  margin: 0 80px;
  z-index: 2;
  display: flex;
}

.cta .cta-wrap .cta-content .cta-text,
.cta .cta-wrap .cta-content .cta-link {
  width: 50%;
  color: #333333;
}

.cta .cta-wrap .cta-content .cta-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cta .cta-wrap .cta-content .cta-text h2 {
  font-size: 2.8rem;
}

.cta .cta-wrap .cta-content .cta-text p {
  width: 480px;
  line-height: 26px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  word-spacing: 2px;
}

.cta .cta-wrap .cta-content .cta-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.cta .cta-wrap .cta-content .cta-link a {
  padding-bottom: 5px;
  width: 280px;
  text-decoration: none;
  color: #333333;
  border-bottom: 2px solid #014f50;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .cta-wrap .cta-content .cta-link a i {
  font-size: 1.4rem;
  rotate: -60deg;
}

footer {
  width: 100%;
  height: fit-content;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  position: relative;
}

footer .f-wrap {
  width: 80%;
  height: 300px;
  display: grid;
  /* grid-template-columns: 1fr 200px 200px 200px 200px; */
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

footer .f-wrap div {
  color: #333333;
}

footer .f-wrap h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.6rem;
  height: 40px;
}

footer .f-wrap div p {
  font-size: 0.9rem;
  margin-top: 15px;
  line-height: 28px;
}

footer .f-wrap div h2 span {
  color: #014f50;
}

footer .f-wrap div p span {
  text-decoration: underline;
  cursor: pointer;
}

footer .f-wrap .f-contact .f-sosmed {
  width: 80%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

footer .f-wrap .f-contact .f-sosmed i {
  font-size: 1.4rem;
  color: #7d818d;
  cursor: pointer;
}

footer .f-wrap .f-company,
footer .f-wrap .f-product,
footer .f-wrap .f-community,
footer .f-wrap .f-legal {
  padding-left: 120px;
}

footer .f-wrap .f-company h2,
footer .f-wrap .f-product h2,
footer .f-wrap .f-community h2,
footer .f-wrap .f-legal h2,
footer .f-wrap .f-company p,
footer .f-wrap .f-product p,
footer .f-wrap .f-community p,
footer .f-wrap .f-legal p {
  font-size: 0.9rem;
}

footer .f-wrap .f-company p,
footer .f-wrap .f-product p,
footer .f-wrap .f-community p,
footer .f-wrap .f-legal p {
  cursor: pointer;
}

footer .f-wrap .f-company h2,
footer .f-wrap .f-product h2,
footer .f-wrap .f-community h2,
footer .f-wrap .f-legal h2 {
  display: flex;
  align-items: center;
}

.mobile-footer {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .hide-sidebar{
    display: none !important;
  }
  .sidebar {
    display: block;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999999;
    width: 70%;
    height: 100dvh;
    animation: appear 0.2s linear;
  }

  .sidebar .close{
    text-align: right;
  }

  @keyframes appear {
    from{
      transform: translateX(500px);
    }
    to{
      transform: translateX(0);
    }
  }

  nav ul li a {
    display: none;
  }

  nav .search-bar {
    display: none;
  }

  nav .menu-icon {
    display: block;
    margin-right: 80px;
  }

  nav .menu-icon i {
    color: #f5f5f5;
    font-size: 1.2rem;
  }

  nav .brand-name {
    margin-left: 80px;
  }

  nav.scrolled .menu-icon i {
    color: #333;
  }

  .wrapper .testi .t-cards {
    grid-template-rows: repeat(1, 380px);
    gap: 15px;
  }

  .wrapper .testi .t-card1 .t-profil,
  .wrapper .testi .t-card2 .t-profil,
  .wrapper .testi .t-card3 .t-profil {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-comment,
  .wrapper .testi .t-card2 .t-comment,
  .wrapper .testi .t-card3 .t-comment {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-comment p,
  .wrapper .testi .t-card2 .t-comment p,
  .wrapper .testi .t-card3 .t-comment p {
    line-height: 22px;
    font-size: 0.9rem;
  }

  .wrapper .testi .t-card1 .t-name,
  .wrapper .testi .t-card2 .t-name,
  .wrapper .testi .t-card3 .t-name {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-name h2,
  .wrapper .testi .t-card2 .t-name h2,
  .wrapper .testi .t-card3 .t-name h2 {
    font-size: 1rem;
  }

  .wrapper .testi .t-card1 .t-name p,
  .wrapper .testi .t-card2 .t-name p,
  .wrapper .testi .t-card3 .t-name p {
    font-size: 0.9rem;
  }

  .cta .cta-wrap .cta-content {
    height: 80%;
    margin: 0 40px;
  }

  .cta .cta-wrap .cta-content .cta-text h2 {
    font-size: 2.4rem;
  }

  .cta .cta-wrap .cta-content .cta-text p {
    width: 280px;
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    word-spacing: 2px;
  }

  .cta .cta-wrap .cta-content .cta-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .cta .cta-wrap .cta-content .cta-link a {
    width: 280px;
    font-size: 0.9rem;
  }

  .cta .cta-wrap .cta-content .cta-link a i {
    font-size: 1.4rem;
    rotate: -60deg;
  }

  footer {
    background-color: #fff;
    padding-top: 40px;
    margin-top: 80px;
  }

  footer .f-wrap {
    grid-template-columns: 200px 130px 130px 130px 130px;
  }

  footer .f-wrap .f-company,
  footer .f-wrap .f-product,
  footer .f-wrap .f-community,
  footer .f-wrap .f-legal {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 850px) {
  nav ul li a {
    display: none;
  }

  nav .search-bar {
    display: none;
  }

  nav .menu-icon {
    display: block;
    margin-right: 60px;
  }

  nav .brand-name {
    margin-left: 60px;
  }

  nav .menu-icon i {
    color: #f5f5f5;
    font-size: 1.2rem;
  }

  nav.scrolled .menu-icon i {
    color: #333;
  }

  main .virtual-museum {
    margin-top: 80px;
  }

  main .virtual-museum p {
    width: 70%;
    text-align: center;
    letter-spacing: 2px;
  }

  .wrapper .resource .resource-photo .r-main-photo {
    width: 300px;
    height: 340px;
  }

  .wrapper .resource .resource-photo .r-main-photo img {
    width: 100%;
    height: 100%;
  }

  .wrapper .resource .resource-photo .r-photo-wrap {
    width: 280px;
    height: 320px;
  }

  .wrapper .resource .resource-photo .r-photo-wrap .r-photo {
    width: 100px;
    height: 100px;
  }

  .wrapper .resource .resource-photo .r-photo-wrap .r-photo1 {
    width: 130px;
    height: 130px;
    top: -70px;
    right: -60px;
    rotate: -18deg;
  }

  .wrapper .resource .resource-photo .r-photo-wrap .r-photo2 {
    width: 220px;
    height: 120px;
    bottom: -60px;
    right: -100px;
  }

  .wrapper .resource .resource-content .src-wrap h2 {
    margin-left: 0;
    font-size: 1.6rem;
  }

  .wrapper .resource .resource-content .src-wrap p {
    margin-right: 80px;
    font-size: 0.9rem;
    opacity: 0.9;
    margin-left: 0;
  }

  .wrapper .resource .resource-content .src-wrap a {
    margin-left: 0;
  }

  .wrapper .testi .t-cards {
    grid-template-rows: repeat(1, 380px);
    gap: 15px;
  }

  .wrapper .testi .t-card1 .t-profil,
  .wrapper .testi .t-card2 .t-profil,
  .wrapper .testi .t-card3 .t-profil {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-comment,
  .wrapper .testi .t-card2 .t-comment,
  .wrapper .testi .t-card3 .t-comment {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-comment p,
  .wrapper .testi .t-card2 .t-comment p,
  .wrapper .testi .t-card3 .t-comment p {
    line-height: 22px;
    font-size: 0.9rem;
  }

  .wrapper .testi .t-card1 .t-name,
  .wrapper .testi .t-card2 .t-name,
  .wrapper .testi .t-card3 .t-name {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-name h2,
  .wrapper .testi .t-card2 .t-name h2,
  .wrapper .testi .t-card3 .t-name h2 {
    font-size: 1rem;
  }

  .wrapper .testi .t-card1 .t-name p,
  .wrapper .testi .t-card2 .t-name p,
  .wrapper .testi .t-card3 .t-name p {
    font-size: 0.9rem;
  }

  .cta .cta-wrap .cta-content {
    height: 80%;
    margin: 0 40px;
  }

  .cta .cta-wrap .cta-content .cta-text h2 {
    font-size: 2.4rem;
  }

  .cta .cta-wrap .cta-content .cta-text p {
    width: 280px;
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    word-spacing: 2px;
  }

  .cta .cta-wrap .cta-content .cta-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .cta .cta-wrap .cta-content .cta-link a {
    width: 280px;
    font-size: 0.9rem;
  }

  .cta .cta-wrap .cta-content .cta-link a i {
    font-size: 1.4rem;
    rotate: -60deg;
  }

  footer {
    background-color: #fff;
    padding-top: 40px;
    margin-top: 80px;
  }

  footer .f-wrap {
    grid-template-columns: 200px 130px 130px 130px 130px;
  }

  footer .f-wrap .f-company,
  footer .f-wrap .f-product,
  footer .f-wrap .f-community,
  footer .f-wrap .f-legal {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper .testi .t-cards {
    grid-template-rows: repeat(1, 300px);
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .wrapper .testi .t-card2,
  .wrapper .testi .t-card3 {
    display: none;
  }

  .wrapper .testi .t-card1 .t-comment p,
  .wrapper .testi .t-card2 .t-comment p,
  .wrapper .testi .t-card3 .t-comment p {
    line-height: 22px;
    font-size: 0.9rem;
  }

  .wrapper .testi .t-card1 .t-name,
  .wrapper .testi .t-card2 .t-name,
  .wrapper .testi .t-card3 .t-name {
    margin: 0 20px;
  }

  .wrapper .testi .t-card1 .t-name h2,
  .wrapper .testi .t-card2 .t-name h2,
  .wrapper .testi .t-card3 .t-name h2 {
    font-size: 1rem;
  }

  .wrapper .testi .t-card1 .t-name p,
  .wrapper .testi .t-card2 .t-name p,
  .wrapper .testi .t-card3 .t-name p {
    font-size: 0.9rem;
  }

  .cta .cta-wrap .cta-content {
    height: 80%;
    margin: 0 40px;
  }

  .cta .cta-wrap .cta-content .cta-text h2 {
    font-size: 2.4rem;
  }

  .cta .cta-wrap .cta-content .cta-text p {
    width: 280px;
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 1.1rem;
    word-spacing: 2px;
  }

  .cta .cta-wrap .cta-content .cta-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .cta .cta-wrap .cta-content .cta-link a {
    width: 280px;
    font-size: 0.9rem;
  }

  .cta .cta-wrap .cta-content .cta-link a i {
    font-size: 1.4rem;
    rotate: -60deg;
  }

  footer {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 80px;
  }

  footer .f-wrap {
    display: none;
  }

  .mobile-footer {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  main .about-container {
    flex-direction: column;
  }

  main .about-container .about-wrapper {
    height: 420px;
    margin-bottom: 130px;
  }

  main .about-container .about-wrapper .about-content {
    flex-direction: column;
  }

  main .about-container .about-wrapper .about-head h2 {
    font-size: 1.4rem;
  }

  main .about-container .about-wrapper .about-content p {
    width: 100%;
    letter-spacing: 1.2px;
    line-height: 40px;
  }

  main .about-container .about-wrapper .about-btn {
    width: 100%;
    margin-top: 30px;
  }

  main .about-container .about-wrapper .about-btn p {
    line-height: 24px;
    margin-bottom: 10px;
  }

  main .about-container .about-wrapper .about-btn button {
    padding: 12px 25px;
    border-radius: 12px;
  }

  main .virtual-museum {
    display: none;
  }

  .wrapper .resource {
    height: 300px;
  }

  .wrapper .resource .resource-photo {
    border: 1px solid;
    display: none;
  }

  .wrapper .resource .resource-content {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .wrapper .resource .resource-content .src-wrap {
    width: 100%;
    height: 100%;
  }

  .wrapper .testi {
    padding: 0 50px;
  }

  .wrapper .testi {
    margin-top: 80px;
  }

  .wrapper .testi .t-head p {
    display: none;
  }

  .wrapper .testi .t-cards {
    grid-template-rows: repeat(1, 360px);
  }

  .cta {
    padding: 0 50px;
  }

  .cta .cta-wrap {
    height: 400px;
  }

  .cta .cta-wrap .cta-content {
    height: 100%;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }

  .cta .cta-wrap .cta-shape {
    display: none;
  }

  .cta .cta-wrap .cta-content .cta-text,
  .cta .cta-wrap .cta-content .cta-link {
    width: 90%;
    color: #333333;
    position: relative;
  }

  .cta .cta-wrap .cta-content .cta-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cta .cta-wrap .cta-content .cta-text h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  .cta .cta-wrap .cta-content .cta-text p {
    height: 50%;
    width: 100%;
    text-align: center;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding: 15px 0;
    word-spacing: 2px;
  }

  .cta .cta-wrap .cta-content .cta-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .cta .cta-wrap .cta-content .cta-link a {
    padding-bottom: 5px;
    width: 140px;
    text-decoration: none;
    color: #333333;
    border-bottom: 2px solid #014f50;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta .cta-wrap .cta-content .cta-link a i {
    font-size: 1.4rem;
    rotate: -60deg;
  }

  .cta .cta-wrap .cta-content .cta-link a i {
    rotate: 0deg;
  }
}
